@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.banner{
  background-image: url(../assets/hero-bg.png);
  width:100%;
  height: 100vh;
  background-size: cover;
 
}
.circle{
  background-image: url(../assets/hero-circle.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer{
  background-image:url(../assets/footer-bg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

}